.home-details-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-details-btn-container a {
    display: flex;
    width: 120px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: black;
}

.home-details-btn-container a:hover {
    color: red;
}