.home-details-key-features-container {
    width: 50%;
    padding: 0 40px;
}

.home-details-key-features-container h1 {
    padding: 40px 0;
    color: #3A5295;
}

.home-details-key-features-container li {
    line-height: 2.0;
    
}

ul {
    list-style: none;
}

.checkmark {
    color: #3A5295;
}

@media (max-width: 1000px) {
    .home-details-key-features-container {
        width: 100%;
    } 
}