.header-container, .left-content, .right-content, .shortlist, .contact-us {
    display: flex;
}

.header-container {
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-clr);
    color: var(--white-font);
    height: 60px;
}

.left-content {
    width: 130px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
    color: white;
}

.right-content {
    font-size: 16px;
    padding-right: 20px;
}

.shortlist {
    width: 85px;
    justify-content: space-between;
}

.contact-us {
    display: flex;
    width: 110px;
    justify-content: space-around;
    border: none;
    font-size: 16px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.house {
    font-size: 40px;
}

.modal {
    height: 480px;
}

.modal-form-container {
    display: flex;
    justify-content: space-between;
}

.modal-form-container input {
    width: 300px;
    height: 56px;
    border-radius: 12px;
}

.modal-form-container textarea {
    width: 300px;
    height: 200px;
    border-radius: 12px;
    border: 1px solid #CED3D8;
    padding: 20px;
}

form ::placeholder {
    color: #CED3D8;
}

form input {
    padding-left: 20px;
    border: 1px solid #CED3D8;
}

form h3 {
    margin-top: 30px;
}

.modal-right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-right-content input {
    background-color: #3A5295;
    color: white;
    border: none;
    cursor: pointer;
}

@media (max-width: 765px) {
    .modal-form-container {
        flex-direction: column;
    }

    .modal {
        width: 300px;
        height: auto;
    }
}