.home-details-content-container {
    width: 45%;
    height: auto;
}

.home-details-content-container h1 {
    text-align: center;
    font-size: 24px;
}

.home-details-column-container {
    display: flex;
    justify-content: space-between;
}

.home-details-column {
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.top-block h3 {
    text-align: center;
}

.top-block .content-items {
    width: 70px;
}

.btm-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.btm-block h3 {
    text-align: center;
}

.content-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-items .bed-icon {
    color: #3A5295;
}

.content-items .bathroom-icon {
    color: #3A5295;
}

.bedroom-count-num, .bathroom-count-num, .price-num {
    font-size: 16px;
    color: #3A5295;
    font-weight: bolder;
}

.furnished-content, .property-type-content, .availability-content {
    color: #3A5295;
    font-weight: bolder;
    font-size: 16px;
}

.home-details-container-top-block {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #CED3D8;
    border-radius: 24px;
}

hr {
    color: #CED3D8;
}

.home-details-content-container button {
    height: 48px;
    width: 298px;
    border-radius: 12px;
    border: none;
    background-color: #3A5295;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 40px;
}

.home-details-content-container button:hover {
    cursor: pointer;
    color: red;
}

@media (max-width: 1000px) {

    .home-details-content-container {
        width: 90%;
    }

    .home-details-container-top-block {
        margin-top: 40px;
    }

    .home-details-container-btm-block {
        text-align: center;
    }

}

@media (max-width: 560px) {

   .bedroom-count-num, .bathroom-count-num, .price-num {
        font-size: 12px;
    }

    .furnished-content, .property-type-content, .availability-content {
        font-size: 12px;
    }

    .home-details-content-container h1 {
        font-size: 24px;
    }

    .top-block h3, .btm-block h3 {
        font-size: 12px;
    }

    .home-details-content-container button {
        font-size: 12px;
        width: 200px;
    }

}