.home-details-content-container {
    background-color: red;
    height: 50vh;
    width: 40vw;
}

.home-details-content-container h1 {
    text-align: center;
}

.home-details-column-container {
    display: flex;
    justify-content: space-between;
}

.home-details-column {
    width: 30%;
    height: 200px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: greenyellow;
    height: 70px;
}

.top-block h3 {
    text-align: center;
}

.top-block .content-items {
    width: 60px;
}

.btm-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    height: 70px;
}

.btm-block h3 {
    text-align: center;
}

.content-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
}

.bedroom-count-num, .bathroom-count-num{
    font-size: 30px;
}

.price-num {
    font-size: 30px;
}

.master-top-block {
    background-color: gold;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}