.home-details-container {
    min-height: 100vh;
}

.home-details-top-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 40px 40px;
}

.home-details-mid-section {
    width: 100%;
    display: flex;
}

.back-btn {
    margin: 15px 40px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #3A5295;
    color: white;
}


.home-details-container button:hover {
    color: red;
    cursor: pointer;
}

@media (max-width: 1000px) {

    .home-details-top-section {
        flex-direction: column;
    }

    .home-details-mid-section {
        flex-direction: column;
        align-items: center;
    }

    .home-details-btm-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}