.home-details-container {
    min-height: 100vh;
}

.home-details-top-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1000px) {

    .home-details-top-section {
        flex-direction: column;
    }

}